<div
  appKm 
  role="radiogroup" 
  [attr.aria-labelledby]="id" 
  class="button-group">
  <label [attr.id]="id" class="label">{{ label }}</label>
  <button
    appKmItem
    role="radio"
    [attr.aria-checked]="value === options.YES"
    [attr.tabindex]="value === options.YES || value === '' ? 0 : -1"
    class="button button-yes"
    [class.button-activated]="value === options.YES"
    type="button" 
    (click)="activate(options.YES)"
  >
    Yes
  </button>
  <button
    appKmItem
    role="radio"
    [attr.aria-checked]="value === options.NO"
    [attr.tabindex]="value === options.NO || value === '' ? 0 : -1"
    class="button button-no"
    [class.button-activated]="value === options.NO"
    type="button" 
    (click)="activate(options.NO)"
  >
    No
  </button>
</div>
