<main>
  <h2>Radio Group</h2>
  <p>Um <b>grupo de radio</b> é um conjunto de botões verificáveis, conhecidos como botões de <b>radio</b>, que não são mais do que um
    dos botões verificado por vez. Algumas implementações podem inicializar o conjunto com todos os botões no
    estado desmarcado para forçar o usuário a marcar um dos botões antes de passar de um determinado ponto no fluxo de
    trabalho.</p>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <app-yes-no-button-group
      [appDisableControl]="false"
      formControlName="yesNoAnswer"
      label="Você sabe como esse componente deveria funcionar?"
    ></app-yes-no-button-group>
  </form>

  <h2>Modal</h2>
  <p>É uma <b>caixa de diálogo</b> sobreposta à janela principal ou à janela de diálogo. As janelas em uma caixa de
    diálogo modal são inertes. Ou seja, os usuários não podem interagir com o conteúdo fora de uma janela de diálogo
    ativa. O conteúdo inerte fora de um diálogo ativo normalmente é visualmente obscurecido ou esmaecido.</p>
  <span
    role="button"
    tabindex="0"
    (click)="show()"
    (keydown.enter)="show()"
    class="button button-primary"
  >
    Abrir Modal
  </span>

  <ng-template #modal>
    <form [formGroup]="modalForm" (ngSubmit)="submitModal()">
      <div class="form-field">
        <label for="firstName">Nome</label>
        <input 
          [attr.aria-invalid]="modalForm.get('firstName').invalid" 
          id="firstName" 
          formControlName="firstName" />
        <span 
          *ngIf="modalForm.get('firstName')?.errors?.required" class="validation-error"
        >
          Primeiro nome é obrigatório
        </span>
      </div>
      <div class="form-field">
        <label for="surname">Sobrenome</label>
        <input 
          [attr.aria-invalid]="modalForm.get('surname').invalid" 
          id="surname"  
          formControlName="surname"/>
        <span 
          *ngIf="modalForm.get('surname')?.errors?.required" class="validation-error"
        >
          Sobrenome é obrigatório
        </span>
      </div>
      <div class="form-field">
        <label for="email">Email</label>
        <input 
          [attr.aria-invalid]="modalForm.get('email').invalid" 
          id="email"  
          formControlName="email"/>
        <span 
          *ngIf="modalForm.get('email')?.errors?.required" class="validation-error"
        >
          Email é obrigatório
        </span>
      </div>
  
      <div class="button-group">
        <button
          [attr.aria-disabled]="modalForm.invalid"
          [class.disabled]="modalForm.invalid"
          class="button button-primary"
          type="submit">
          Enviar
        </button>
        <button
          class="button button-secondary"
          type="button"
          (click)="modalRef.close()">
          Cancelar
        </button>
      </div>
    </form>
  </ng-template>
</main>
