<main>
  <h1>Form</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <app-yes-no-button-group
      [appDisableControl]="false"
      formControlName="yesNoAnswer"
      label="Are you good enough in Angular? "
    ></app-yes-no-button-group>
    <button>Submit</button>
  </form>

  <h1>Accessible Modal Component</h1>
  <p>Welcome to the accessible modal testing page!</p>
  <button 
    type="button" 
    (click)="show()">
    Show Modal
  </button>

  <ng-template #modal>
    <div class="form-field">
      <label for="firstName">First Name</label>
      <input id="firstName" />
    </div>
    <div class="form-field">
      <label for="surname">Surname</label>
      <input id="surname" />
    </div>
    <div class="form-field">
      <label for="age">Age</label>
      <input id="age" />
    </div>

    <div class="button-group">
      <button 
        class="button button-primary" 
        type="button">
        Submit
      </button>
      <button
        class="button button-secondary"
        type="button"
        (click)="modalRef.close()">
        Cancel
      </button>
    </div>
  </ng-template>
</main>
